{% extends 'base.html.twig' %}

{% block titre %}
	{{ parent() }}- Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!--link rel="stylesheet" href="{{ asset('css/accueil.css') }}" type="text/css"-->
{% endblock %}

{% block body %}
	<!--Bouche for qui n'affiche que 3 posts-->
	{% for post in posts|slice(0, 3) %}
		<article class="post">
			<header>Posté par {{ post.auteur.pseudo }}</header>
			<!--TODO: vérifier comment sera entré l'image dans la bdd en base 64-->
			<img class="" src="" alt=""/>
			<section class="description">{{post.description}}</section>
			<section class="ratio">{{post.rating_publication.likes_count}} / {{post.rating_publication.dislikes_count}}</section>
            <!--TODO: ajout d'affichage d'un commentaire en foreach (ecemple dans menu sushi)-->
            <section class="commentaire"></section>
			{% if 'role' == 'admin' %}
				<section class="admin-tab">
                
                </section>
			{% endif %}
		</article>
	{% endfor %}
{% endblock %}
