{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/profil.css') }}" type="text/css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}

{% block body %}
	<main class="container mt-4">
		<article class="content_profil">
			<div class="left_content_profil">
				<img class="avatar" src="http://127.0.0.1:3000/img/{{ user.avatar }}" alt="Avatar">
			</div>
			<div class="right_content_profil">
				<div>
					<p class="pseudo_profil">{{ user.pseudo }}</p>
				</div>
				<div>
					<p class="email_profil">{{ user.email }}</p>
				</div>
				<form id="profileForm" action="/changePass" method="POST">
					<label for="password">Nouveau mot de passe:</label>
					<input type="hidden" id="id" name="id" value="{{ user.id }}" required>
					<input type="password" id="password" name="password" required>
					<button type="submit">Modifier mon mot de passe</button>
				</form>
			</div>
		</article>
		<div class="publications_profil">
			<div class="publications_title">
				<p>Mes publications ({{ user.publications is defined ? user.publications|length : 0 }})</p>
			</div>
		{# {% for publication in user.publications %}
			<p>{{ publication.description }}</p>
		{% endfor %} #}
		</div>
	</main>
{% endblock %}
