{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/user_details.css') }}" type="text/css">
{% endblock %}

{% block body %}
	<main class="mur_user">
		<h1>User Details</h1>
		{% if userDetails.user is defined %}
			<div class="user-details">
				<p class="pseudo_mur">{{ userDetails.user.pseudo }}</p>
				<div class="user-avatar">
					<img class="avatar_user_mur" src="http://127.0.0.1:3000/img/{{ userDetails.user.avatar }}" alt="{{ userDetails.user.pseudo }} Avatar">
				</div>
			</div>

			<div class="publications-section">
				<h2 class="post_mur">Publications</h2>
				{% if userDetails.publications is defined and userDetails.publications|length > 0 %}
					<ul class="publication-list">
						{% for publication in userDetails.publications %}
							<li class="publication-item">
								<div class="publication-photo">
									<img src="http://127.0.0.1:3000/img/{{ publication.photo }}" alt="Publication Image">
								</div>
								<div class="publication-description">{{ publication.description }}</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="commentaires-section">
				<h2 class="comm_mur">Commentaires</h2>
				{% if userDetails.commentaires is defined and userDetails.commentaires|length > 0 %}
					<ul class="commentaire-list">
						{% for commentaire in userDetails.commentaires %}
							<li class="commentaire-item">
								<div class="commentaire-contenu">{{ commentaire.contenu }}</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% else %}
			<p class="no-user-details">Mur indisponible.</p>
		{% endif %}
	</main>
{% endblock %}
